name: Step 3, Upload test reports

# This step triggers after push to the ci.yml file on the ci branch.
# This workflow updates from step 3 to step 4.

on:
  workflow_dispatch:
  push:
    branches:
      - ci
    paths:
      - .github/workflows/ci.yml

permissions:
  contents: write

jobs:
  # Get the current step to only run the main job when the learner is on the same step.
  get_current_step:
    name: Check current step number
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: get_step
        run: |
          echo "current_step=$(cat .github/steps/current-step.txt)" >> $GITHUB_OUTPUT
    outputs:
      current_step: ${{ steps.get_step.outputs.current_step }}

  on_add_test_reporting:
    name: On add test reporting
    needs: get_current_step
    runs-on: ubuntu-latest

    if: ${{ !github.event.repository.is_template && needs.get_current_step.outputs.current_step == '3' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify workflow
        uses: skills/action-check-file@v1
        with:
          file: .github/workflows/ci.yml
          search: actions/upload-artifact

      - name: Update to step 4
        uses: skills/action-update-step@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          from_step: 3
          to_step: 4
          branch_name: ci
